.titulo {
    text-align: center;
    color: #17202A;
    font-weight: bold;
    border: black;
    border-style: solid;
    border-width: 2px;
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
}

.jumbotron {
    background-image: linear-gradient(rgb(68, 94, 126), rgb(155, 64, 11));
